*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #FEF2EE;
    height: 100vh;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.25px;
}

h1, h2 {
    margin: 0;
    text-align: center;
    color: #12121F;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
}

ul {
    margin: 0;
}

li {
    cursor: pointer;
}

form {
    white-space: nowrap;
    margin-top: 20px;
}

i {
    color: #5856D7;
    font-size: 20px;
    vertical-align: middle;
}

.app-container, .lists, .all-lists, .todo-list, button {
    border-radius: 24px;
}

.app-container {
    background:#FFFFFF;
    box-shadow: 55px 65px 44px rgba(197, 104, 78, 0.13), 20px 30px 30px rgba(102, 62, 51, 0.06), 10px 20px 20px rgba(102, 62, 51, 0.04), 1px 10px 10px rgba(102, 62, 51, 0.02);
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(209,209,209,.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(209,209,209,.3);
    box-shadow: 10px 10px 5px 0px rgba(209,209,209,.3);
}

.fa-clipboard-list {
    font-size: 24px;
}

.lists {
    line-height: 1.7;
    display: flex;
    justify-content: space-around;
    background: #4643D3;
}

.all-lists, .todo-list {
    background: #fff;
    margin: 40px;
    padding: 30px;
}

.all-lists {
    list-style-type: circle;
}

.active-list {
    font-weight: 700;
}

.todo-list {
    min-width: 350px;
}

.counter {
    font-size: 13px;
    margin: 0 0 1rem 0;
    color: gray;
}

button {
    border: none;
    background: #FE805C;
    color: #fff;
    font-size: 13px;
    padding: 8px 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 3px;
}

input {
    border: 1px solid #243B69;
    padding: 10px 14px;
    border-radius: 24px;
}

.tasks-destroyer {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    position: relative;
}

.task label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50%;
    height: 1px;
    background-attachment: #5856D7;
    opacity: .2;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border: 2px solid #5856D7;
    border-radius: 3px;
    margin-right: .7rem;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox, [type="checkbox"]:focus + label .custom-checkbox {
    transform: scale(1.3);
    color: #5856D7;
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: #5856D7;
    border-color: #5856D7;
    transform: scale(1);
    box-shadow: inset 0 0 0 2px #fff;
}

[type="checkbox"]:checked + label {
    opacity: .5;
}

.task label::after {
    content: '';
    position: absolute;
    left: 1.5rem;
    right: 0;
    top: 50%;
    height: 2px;
    background: #5856D7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 100ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}