body {
    margin-top: 100px;
    background: #C6D2ED;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.container_content {
    background: red;
    width: 500px;
    background: #AEA3B0;
    border: 5px black solid;
    border-radius: 7px;
    margin: 0 auto;
    padding: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
    font-size: 20px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: gray;
    font-size: 20px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: gray;
    font-size: 20px;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: gray;
    font-size: 20px;
  }

input {
    color: black;
    font-size: 20px;
    text-align: center;
}

.card-box {
    width: 400px;
    background: #E7E6F7;
    margin: 0 auto;
    border: 2px solid black;
}

#weightInput {
    width: 400px;
    height: 60px;
    margin-bottom: 50px;

}